header {
  background-color: #eceef3; /* Tailwind's blue-800 */
  color: rgb(245, 241, 241);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  color: rgb(34, 24, 24);
  text-decoration: none;
}

nav a:hover {
  color: #0a0e15; /* Tailwind's gray-300 */
}
